h1 {
    color:rgb(55, 146, 221);
    border-style: groove;
    text-align:center

  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  body {
    background-color:rgb(183, 244, 255)
  }
  p {
    color:rgb(0, 139, 35)
  }
  ul {
    border-style:outset;
    border-color: rgb(202, 18, 18);
    
    
  }
  .li {
    border-style:outset;
    border-color: rgb(202, 18, 18);
    margin-bottom: 5px;
    
  }
  .pic {
  color:blue
  }
  .maa {
    width:250px
  }
  .lay {
    width:250px
  }
  .mef {
    width:250px
  }
  h4 {
    margin: auto;
    width: 50%;
    border: 3px dotted rgb(202, 18, 18);
    padding: 10px;
    text-align: center;
    color:red
  }
  .PicTitle {
    text-align: center;
    border: 3px solid;
    border-color:rgb(202, 18, 18)
  }
  .date-button {
    display: center;
    align-items: center;
    justify-content: center;}
    h6 {
      text-align: center;
    }
    ul {
      margin: auto;
    }