h1 {
    color:rgb(55, 146, 221);
    border-style:groove
  }
  img {
    width:250px
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  body {
    background-color:rgb(183, 244, 255)
  }
  p {
    color:rgb(0, 139, 35)
  }
  ul {
    border-style:outset;
    
    
  }
  .li {
    border-style:outset;
    margin-bottom: 5px;
    
  }
  p {
    color:navy
  }
  .pic {
  color:blue
  }
  .maa {
    width:250px
  }
  .lay {
    width:250px
  }
  .mef {
    width:250px
  }
  h4 {
    margin: auto;
    width: 50%;
    border: 3px dotted rgb(37, 18, 202);
    padding: 10px;
    text-align: center;
    color:red
  }
  .PicTitle {
    text-align: center;
    border: 3px solid
  }
  button {
    margin-left: auto;
    margin-right: auto}